$gutter: 15px;

/* : Query sizes : */
$sizes: (
    mbl: 415px,
    tbl: 768px,
    lpt: 1366px,
    pc: 1600px
);

/* : Colors : */
$mainv1: white;
$mainv2: #3c3c3c;
$title: #2d2d2d;
$operative: #62c017;
$footer: #242424;


//Mixin margin generator for 12 column
@mixin offset_generator($i){
    margin-left: $i / 12 * 100%;
} 

//Map list
@mixin map-size($type, $el){
    @each $name, $size in $sizes{
        @if ( $name == $el ){
            $type: $size;
        }
    }
}