.header{
    color: $mainv1;
    &__sygnet{
        position: relative;
        display: block;
        padding-top: 30px;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background: $operative;
        }
    }
}

@media only screen and ( max-width: nth(nth($sizes, 3), 2) ){
    .header{
        &__sygnet{
            width: 50%;
            margin: auto;
        }
    }
}

@media only screen and ( max-width: nth(nth($sizes, 2), 2) ){
    .header{
        display: none;
    }
}