.block-hero{
    padding-top: 170px;
    padding-bottom: 300px;
    color: $mainv1;
    &--darker{
        color: $mainv2;
    }
    &__title{
        text-transform: uppercase;
        text-align: center;
    }
} 

@media only screen and ( max-width: nth(nth($sizes, 2), 2) ){
    .block-hero{
        padding-top: 128px;
        padding-bottom: 256px;
    }
}

@media only screen and ( max-width: nth(nth($sizes, 1), 2) ){
    .block-hero{
        padding-top: 64px;
        padding-bottom: 96px;
    }
}